.App {
  padding: 20px;
  font-family: sans-serif;
  text-align: left;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.header {
  margin: 0;
}

.table-wrapper {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.summary-row th {
  color: white !important;
  background-color: black !important;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th.sortable {
  cursor: pointer;
}

th.sortable:hover {
  background-color: #ddd;
}

.summary-controls,
.filter-dropdown,
.date-range-dropdown {
  margin-top: 4px;
}

.date-picker-range {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.separator {
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 8px 0;
}

.summary-buttons button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.react-select__control {
  color: black !important;
  background-color: white !important;
  border: 1px solid black !important;
  text-align: left;
  padding: 10px;
  width: 300px;
  overflow: hidden;
  align-content: center; 
  min-height: 45px !important;
  height: 60px !important;
  font-size: 0.85rem;
}

.react-select__multi-value__label {
  color: black !important;
  background-color: white !important;
}

.react-select__multi-value__remove {
  color: black !important;
  background-color: white !important;
}

.react-select__menu {
  color: black !important;
  background-color: white !important;
  width: 300px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.react-select__option {
  color: black !important;
  background-color: white !important;
  cursor: pointer;
}

.react-select__option--is-focused {
  background-color: #eee !important;
}

.react-select__placeholder {
  color: black !important;
}

.summary-bar-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  width: calc(100% - 2px); /* Fix spacing caused by border */
  background-color: black;
  color: white;
  padding: 12px;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.chess-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border-radius: 0 0 8px 8px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
